#paineis-sobre {
	margin-top: 20px;
}

html,
body {
	height: 100%;
}

header {
	background-image: url(../img/bg-inclusivos.jpg);
	background-size: cover;
	background-position: top center;
	height: 100%;
}

header h1 {
	margin-top: 0;
	margin-bottom: 0;
}

h4 {
	color: red;
}

/* Estiliza o botão de aumentar e diminuir fonte */
.button {
	background-color: #0275D8;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }
  
  /* Centraliza o botão de aumentar e diminuir fonte */
  .btn-container {
	display: flex;
	justify-content: center;
  }

/* Cria um preenchimento colorido no diamante*/
.checked {
	color: orange;
  }

.gulliver-banner {
	color: #FFF;
	background-color: rgba(0, 0, 0, .5);
	padding: 20px;
	width: 80%;
	border-radius: 5px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .3s;
}

.hospbg {
	background-image: url(/assets/img/bg-hospedar.jpg);
	height: 80%;
}

.parqbg {
	background-image: url(/assets/img/bg-parques.png);
	height: 80%;
}

.gastrobg {
	background-image: url(/assets/img/bg-gastronomia.png);
	height: 80%;
}

.notbg {
	background-image: url(/assets/img/bg-vnoturna.jpg);
	height: 80%;
}

.entbg {
	background-image: url(/assets/img/bg-entretenimento.png);
	height: 80%;
}

.cultbg {
	background-image: url(/assets/img/bg-cultura.png);
	height: 80%;
}

.dicbg {
	background-image: url(/assets/img/bg-dicas.png);
	height: 80%;
}

.alugbg {
	background-image: url(/assets/img/bg-carro.jpg);
	height: 80%;
}

.tempbg {
	background-image: url(/assets/img/gastronomia/djapa/djapa.png);
	height: 80%;
}

.titulo-destaques {
	background-color: #0275D8;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #FFF;
	margin-bottom: 0;
	font-size: 24px;
}

.bgcz {
	background-color: #0275D8;
}

.contato-select,
.grupo-radio {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}

.grupo-radio .radio:first-child {
	margin-top: 0;
}

#map {
	height: 500px;
	width: 100%;
  }

footer {
	background-color: #0275D8;
	color: #FFF;
	padding: 20px;
	margin-top: 10px;
}

.fotdiv {
	background-color: rgba(0, 0, 0, 0.2);
}

@media(min-width: 768px) {
	#paineis-sobre {
		margin-top: 0;	
	}
}

@media(min-width: 992px) {
	.gulliver-banner {
		left: 0;
		transform: translate(0, -80%);
		width: 50%;
	}

	.gulliver-bannerWrapper {
		position: relative;
		height: 100%;
	}
}


